@use '../../styles/abstracts/' as *;

.route {
    @include flex($direction: column, $gap: space(xs));
}

.selector {
    @include flex($justify: space-between, $align: center);
    background: color(secondary);
    border: 1px solid color(border);
    border-radius: space(xs);
    padding: space(2xs) space(xs);

    &__text {
        font-size: font-size(sm);
        text-transform: uppercase;
        color: color(text);
    }

    &__icon {
        color: color(text);
    }
}







